* {
	box-sizing: border-box;
}


.main {
    height: 100%;
}

.main-left {
    background-color: rgb(233, 221, 221);
    position: absolute;
    left: 0;
    right: 15%;
    width: 15%;
    height: 100%;
}
.main-center {
    position: absolute;
    left: 15%;
    right: 65%;
    width: 50%;
    height:75%;
}
.main-right {
    position: absolute;
    top: 15%;
    left: 65%;
    right: 98%;
    width: 33%;
}
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }
